{% extends "index" %}
{% block content %}

	<section class="hero" style="background-image: url('{{ image.url }}')">
	<div class="hero__content content-column">

	<h1>The page is not found</h1>

	</div>
	</section>


	{% endblock %}